/*@import url('https://fonts.googleapis.com/css2?family=Fuzzy Bubbles&family=Open Sans&display=swap');*/

body
    {
        background-color: #fcfbfb; 
        margin: 0;
        padding: 0;
    }
#content
    {
        text-align: center;
        max-width: 1600px;
    }
#logo_link
    {
        padding: 5px;
    }
nav
    {   
        background-color: rgb(78, 78, 78);
        text-align: center;
        margin: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
    }
a
    {  
        text-align: center;
    }
#hero-msg
    {
        text-align: center;
    }
h1
    {
        text-align: center;
    }
h2
    {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 2em;
    }
h4
    {
        color: darkgreen;
        text-align: center;
    }
.button-box
    {
        text-align: center;
    }
main   
    {
        text-align: center;
    }
section
    {
        text-align: center;
    }
#hero-box
    {   
        text-align: center;
    }
#hero-box
    {
        transition: transform .2s; /* Animation */
        margin: 0 auto;
    }
#hero-box:hover
    {
        transform: scale(1.2);
    }
.card-img
    {
        transition: transform .2s; /* Animation */
        margin: 0 auto;
        border: 10px solid #9EB25D;
    }
.card-img:hover
    {
        transform: scale(1.2);
    }
.mountains
    {
        transition: transform .2s; /* Animation */
        margin: 0 auto;
        border: 10px solid #9EB25D;
    }
.mountains:hover
    {
        transform: scale(1.2);
    }
#background
    {
        background-color: beige; 
        height: 725px;
    }
#header_background
    {
        background-image: url("https://media.istockphoto.com/photos/group-of-people-white-water-rafting-picture-id473437728?b=1&k=20&m=473437728&s=170667a&w=0&h=sIkdevNjuGamABv1mKQz7wT8sQZKaKFbgEbfrX3Am3s=");
    }
nav a:hover
    {   
        
        background-color: rgb(46, 46, 46);
    }
nav a
    {  
        padding: 35px;
        margin: 15px;
        color: beige;
    }
.home-title
    {  
        margin-top: 10px;
        font-size: 2em;
        color: orange;
        font-family: cursive;
        font-weight: bolder;
    }
.book
    {
        margin-top: 50px;
        font-size: 18px;
        color: lightsalmon;
        padding: 15px 30px;
        border-radius: 5px;
    }
.book:hover
    {
        color: darkolivegreen;
    }
.join
    {
        margin-top: 50px;
        font-size: 18px;
        color: lightsalmon;
        padding: 15px 30px;
        border-radius: 5px;
    }
.join:hover
    {
        color: darkolivegreen;
    }
.msg h2
    {
        margin: 0;
        color: orange;
    }
.msg p
    {
        line-height: 1.5em;
        font-size: .8em;
        background-color: aquamarine;
        font-weight: bold;
        padding-bottom: 15px;
    }
footer h3
    {
        color: black;
        font-weight: bold;
    }
footer
    {  
        text-align: center;
        background-color: rgba(134, 148, 124, 0.7);
        padding: 25px 50px;
        margin-top: 200px;
    }
footer a
    {
        color:blue;
    }
footer a:hover
    {
        background-color: rgb(0, 0, 0);
        padding-top: 15px;
    }
a img
    {
        border-radius: 50px;
    }
.icon
    {
        padding-top: 10px;
    }
.msg
    {
        padding: 35px;
    }
.rivers-card, .camping-card, .rapids-card
    {
        margin: 200px 0;
    }