/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a | */
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&family=Archivo+Narrow&family=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #01161E   ;
  --secondary-color: #EDFFAB ;
  --accent1-color: #B87D4B;
  --accent2-color: #FCD7AD;

  /* change the values below to your chosen font(s) */
  --heading-font: "Permanent Marker";
  --paragraph-font: "Archivo Narrow";

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #01161e;  /* headlines on a white background */ 
  --headline-color-on-color: #B87D4B; /* headlines on a colored background */ 
  --paragraph-color-on-white: #01161E; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #B87D4B; /* paragraph text on a colored background */ 
  --paragraph-background-color: #FCD7AD  ;
  --nav-link-color: #01161E;
  --nav-background-color: #FCD7AD;
  --nav-hover-link-color: #B87D4B;
  --nav-hover-background-color: #FCD7AD;
}

/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  width: 700px;
  height: 500px;
}
h1 {
    font-family: "Permanent Marker", Tahoma, sans-serif;
    color:#01161E;
}
h2, h3, h4, h5, h6 {
  font-family: "Permanent Marker", Tahoma, sans-serif;
  color:#01161E;
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: #01161E;
  background-color: #B87D4B;
}
header > h1, header > h2 {
  color: #01161E;
}

p {
  font-family: "Archivo Narrow", 'Times New Roman', Times, serif;
  color: #01161e;
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}

.primary {
  background-color: #01161E;
}
.secondary {
  background-color: #EDFFAB;
}
.accent1 {
  background-color: #B87D4B;
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: #B87D4B;
  color: #01161E;
}

nav {
  background-color: #B87D4B;
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav  {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;

}
nav a:link, nav a:visited {
  color: #01161E;
}
nav a:hover {
  color: #01161E;
  background-color: #EDFFAB;
}

.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {

  text-align: center;

}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}

.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
