@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Permanent+Marker&display=swap');
body {
  display: grid;
  grid-template-columns: 3fr;
  background-color: #d4a67c;
}
/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 800px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
  }

  .slideshow {
    float: left;
    height: 800px;
    width: 1000px;
    border-radius: 30px;
    transition: transform .5s;
  }
  .slideshow:hover {
    transform: scale(1.2);
  }

  .slide-wrapper {
    width: calc(1000px * 4);
    animation: slide 10s ease infinite;
  }

  .slide:nth-child(1) {
    background: green;
  }
   
  .slide:nth-child(2) {
    background: rgb(83, 83, 83);
  }
   
  .slide:nth-child(3) {
    background: red;
  }
   
  .slide:nth-child(4) {
    background: yellow;
  }

  .slide-number {
    width: 1000px;
    height: 700px;
  }

  @keyframes slide {
   
    /* Calculate the margin-left for
      each of the slides */
      20% {
        margin-left: 0px;
      }
     
      40% {
        margin-left: calc(-1000px * 1);
      }
     
      60% {
        margin-left: calc(-1000px * 2);
      }
     
      80% {
        margin-left: calc(-1000px * 3);
      }
    }
.home-img {
    width: 90%;
    height: 75%;
    border-radius: 10px;
    transition: transform .5s;
}
.home-img:hover {
  transform: scale(1.2);
}
.background-image {
  text-align: center;
}

footer {  
    background-color: #01161E;
    padding: 10px 5px;
    margin-top: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: large;
    width: 100%;
}
footer a, p
    {
        color:#EDFFAB;
    }
footer a:hover
    {
        padding-top: 15px;
    }

#logo-link {
    text-align: center;
    margin-bottom: 20px;
}
.logo-box img {
    border-radius: 10em;
    position: relative;
    height: 10em;
    margin-left: -50px;
}
#nav-link a {
    color: #01161E;
    padding: 10px;
    font-family:'Archivo Narrow';
    font-size: medium;
}
#nav-link a:hover {
    background-color:#EDFFAB;
}
#nav-link {
    margin-bottom: 80px;
    text-align: center;
}
#text-container {
    font-size: 30px;
}
.contents h1 {
  margin-top: -150px;
  color: #01161E;
  text-align: center;
  font-size: 1em;
}
.contents p {
  font-style: italic;
  color:#01161E;
  text-align: center;
  font-size: 1em;
}
.social img {
    border-radius: 50px;
    width: 3em;
}
.home-contents p {
  color: #01161E;
  text-align: center;
}
.home-contents {
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 25px;
  font-family: 'Archivo Narrow';
}