@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Permanent+Marker&display=swap');
body {
  display: grid;
  grid-template-columns: 3fr;
  background-color: #d4a67c;
}
h1 {
  font-family: 'Permanent Marker';
  font-size: 50px;
}
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color:#01161E;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Styling the area of the slides */
#slideshow {
    overflow: hidden;
    height: 800px;
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
  }

  .slideshow {
    float: left;
    height: 800px;
    width: 1000px;
    border-radius: 30px;
    transition: transform .5s;
  }
  .slideshow:hover {
    transform: scale(1.2);
  }

  .slide-wrapper {
    width: calc(1000px * 4);
    animation: slide 10s ease infinite;
  }

  .slide:nth-child(1) {
    background: green;
  }
   
  .slide:nth-child(2) {
    background: rgb(83, 83, 83);
  }
   
  .slide:nth-child(3) {
    background: red;
  }
   
  .slide:nth-child(4) {
    background: yellow;
  }

  .slide-number {
    width: 1000px;
    height: 700px;
  }

  @keyframes slide {
   
    /* Calculate the margin-left for
      each of the slides */
      20% {
        margin-left: 0px;
      }
     
      40% {
        margin-left: calc(-1000px * 1);
      }
     
      60% {
        margin-left: calc(-1000px * 2);
      }
     
      80% {
        margin-left: calc(-1000px * 3);
      }
    }
.home-img {
    width: 90%;
    height: 75%;
    border-radius: 10px;
    transition: transform .5s;
}
.onclick {
  font-size: larger;
  margin-top: 25px;
  margin-bottom: 80px;
  padding: 5px;
  max-width: fit-content;
  background-color: #EDFFAB;
}
.onclick:hover {
  color:#01161E;
  transform: scale(1.2);
}
.home-img:hover {
  transform: scale(1.2);
}
.background-image {
  text-align: center;
}

footer {  
    background-color: #01161E;
    padding: 10px 5px;
    margin-top: 50px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: large;
    width: 100%;
}
footer a, p
    {
        color:#EDFFAB;
    }
footer a:hover
    {
        padding-top: 15px;
    }

#logo-link {
    text-align: center;
    margin-bottom: 20px;
}
.logo-box img {
    border-radius: 10em;
    position: relative;
    height: 10em;
    margin-left: -50px;
}
#nav-link a {
    color: #01161E;
    padding: 10px;
    font-family:'Archivo Narrow';
    font-size: medium;
}
#nav-link a:hover {
    background-color:#EDFFAB;
}
#nav-link {
    margin-bottom: 80px;
    text-align: center;
}
#text-container {
    font-size: 30px;
}
.contents {
  margin-top: -150px;
  color: #01161E;
  text-align: center;
  font-size: 1.5em;
  font-family: 'Permanent Marker';
}
.contents p {
  font-style: italic;
  color:#01161E;
  text-align: center;
  font-size: 1em;
}
.social img {
    border-radius: 50px;
    width: 3em;
}
.home-contents p {
  color: #01161E;
  text-align: center;
}
.home-contents {
  text-align: center;
  margin: auto;
  width: 100%;
  font-size: 25px;
  font-family: 'Archivo Narrow';
}
.background-img {
  max-width: 50%;
}
.about-us-image {
  border: 5px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
  width: 100%;
  margin-bottom: 50px;
}
.about-us-image:hover {
  transform: scale(1.2);
}
#about-us-contents {
  margin-top: -100px;
}
.question-box h1 {
  font-family: 'Permanent Marker';
  text-align: center;
  margin-top: -50px;
  font-size: xx-large;
  margin-bottom: 60px;
}
.about-us-text p {
  color:#01161E;
}
.about-us-text {
  line-height: 1.5em;
  font-size: 2em;
  font-weight: bolder;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
  transition: transform .5s;
}
.about-us-text:hover {
  transform: scale(1.0);
}
form {
  /* Center the form on the page */
  margin: 50px auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}
#feedback {
    background-color:#d4a67c;
    /* make this element invisible until we are ready for it */ 
    position: relative;
}
.moveDown {
    margin-top: 3em;
}
.connect-box {
  text-align: center;
  margin-top: -150px;
}
.questions-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 10px;
}
.question-box {
  margin-top: 70px;
}
.textbox-title h1 {
  max-width: fit-content;
  font-size: 1.7em;
  line-height: 5px;
  position: absolute;
  margin-bottom: 20px;
}
.textbox-faqs {
  grid-column-start: 2;
  margin-top: -300px;
}
.textbox-faqs p {
  color: #01161E;
  font-family: 'Archivo Narrow';
  font-size: x-large;
}

/*FOR COLLAPSIBLE*/
.collapsible {
  background-color: #d4a67c;
  color:#01161E;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color:#d9c2a3;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color:#EDFFAB;
}
.content p {
  color: #01161E;
}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color:#01161E;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.main-box {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.collapsible-box {
  margin-top: 50px;
  grid-column-start: 2;
}

.email-title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: -50px;
}
.email-title h1 {
  font-size: x-large;
}
